<html>
    <head>
        <title>EJS Demo</title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% heroes.forEach((hero) => { %>
                <li>
                    <%= hero.name %>
                    <% if (hero.origin) { %>
                        of <%= hero.origin %>
                    <% } %>
                </li>
            <% }) %>
        </ul>
    </body>
</html>