<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Log in</title>
    </head>
    <body>
        <h1>Log in</h1>
        <form action="/auth/login" method="post">
            <section>
                <label for="username">Username</label>
                <input id="username" name="username" type="text">
            </section>
            <section>
                <label for="current-password">Password</label>
                <input id="current-password" name="password" type="password">
            </section>
            <button type="submit">Log in</button>
        </form>
        <p>Don't have an account? <a href="/auth/signup">Sign up!</a></p>
    </body>
</html>
